DEBUG = true
# Chainlit Authentication
CHAINLIT_AUTH_SECRET="your-secret-here"

# LLM API Configuration
CHAT_OPENAI_API="http://localhost:7070/v1"
MAX_ITERATIONS=100

# Embeddings
EMBEDDINGS_API_URL="http://localhost:7071/v1"
EMBEDDINGS_MODEL="embeddinggemma-300M-BF16.gguf"

# Data Folder
DATA_FOLDER = "data"
CHAT_HISTORY_DB_FILE_NAME = "history.db" # DATA_FOLDER/CHAT_HISTORY_DB_FILE_NAME
LOCAL_STORAGE_PATH = "storage" # DATA_FOLDER/LOCAL_STORAGE_PATH
# ChromaDB
CHROMADB_PERSISTENT_PATH = "chromadb"