DEBUG = true
# Chainlit Authentication
CHAINLIT_AUTH_SECRET="your-secret-here"

# LLM API Configuration
CHAT_OPENAI_API="http://localhost:7070/v1"
MAX_ITERATIONS=100
TOKEN_LIMIT = 4096
CHAT_MODEL = "janhq/Jan-v3-4B-base-instruct-gguf"

CHAT_MODEL_TYPE =  "Q8_0"

VL_MODEL= "ggml-org/granite-docling-258M-GGUF"
VL_MODEL_TYPE =  "Q8_0"

# Embeddings
EMBEDDINGS_API_URL="http://localhost:7071/v1"
EMBEDDINGS_MODEL="Qwen/Qwen3-Embedding-0.6B-GGUF"

# Data Folder
DATA_FOLDER = "data"
ARIA_DB_FILENAME = "aria.db" # DATA_FOLDER/ARIA_DB_FILENAME
LOCAL_STORAGE_PATH = "storage" # DATA_FOLDER/LOCAL_STORAGE_PATH
# ChromaDB
CHROMADB_PERSISTENT_PATH = "chromadb"

# Llama.cpp Binary Directory
LLAMA_CPP_BIN_DIR = "bin/llamacpp"
LLAMA_CPP_VERSION = "latest"