agno==1.6.2
aiohttp
arxiv
asyncpg
chainlit
fastembed
lancedb
loguru
markitdown
mcp
ollama
openai
platformdirs
pypdf
redis
requests
wikipedia
yfinance
youtube_transcript_api
sqlalchemy
cohereal
infinity_client
fastapi
uvicorn[standard]
tortoise-orm[accel]
python-multipart
aiosqlite
bcrypt