DEBUG = true
SERVER_HOST = localhost
SERVER_PORT = 9876
CHAINLIT_AUTH_SECRET = your-secret-here
CHAT_OPENAI_API = http://localhost:9090/v1
MAX_ITERATIONS = 100
TOKEN_LIMIT = 8192
CHAT_MODEL_REPO = janhq/Jan-v3-4B-base-instruct-gguf
CHAT_MODEL = Jan-v3-4b-base-instruct-Q8_0.gguf
CHAT_MODEL_TYPE = Q8_0
VL_OPENAI_API = http://localhost:9091/v1
VL_MODEL_REPO = ggml-org/granite-docling-258M-GGUF
VL_MODEL = granite-docling-258M-Q8_0.gguf
VL_MMPROJ_MODEL = mmproj-granite-docling-258M-Q8_0.gguf
VISION_MODEL_TYPE = Q8_0
EMBEDDINGS_API_URL = http://localhost:9092/v1
EMBEDDINGS_MODEL_REPO = Qwen/Qwen3-Embedding-0.6B-GGUF
EMBEDDINGS_MODEL = Qwen3-Embedding-0.6B-Q8_0.gguf
EMBEDDINGS_MODEL_TYPE = Q8_0
DATA_FOLDER = data
ARIA_DB_FILENAME = aria.db
LOCAL_STORAGE_PATH = storage
CHROMADB_PERSISTENT_PATH = chromadb
LLAMA_CPP_BIN_DIR = bin/llamacpp
LLAMA_CPP_VERSION = latest
HUGGINGFACE_TOKEN = 
GGUF_MODELS_DIR = models