agno
aiohttp
arxiv
asyncpg
chainlit
crawl4ai
duckdb
fastembed
lancedb
loguru
lxml_html_clean
markitdown
newspaper4k
ollama
platformdirs
pypdf
random-word
requests
sqlalchemy
wikipedia
yfinance
youtube_transcript_api